body {
	padding-top:50px;
	font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
}
.navbar{
	background:#fff;
	.navbar-brand {
		font-weight: 600;
	}
	.navbar-brand:hover{
		color: #666;
	}
}
li a:hover {
	color:#333!important;
}
li a:focus {
	color:#777!important;
}
.dropdown-menu {
	li a:hover {
		background:#eee!important;
	}
	hr {
		margin-top: 8px;
	}
	h6 {
		margin-left: 22px;
		margin-top:-7px;
		color: #999;
	}
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #eee;
	color:#777;
}
header{
	background-color: #b84d45;
	background-image:url("../images/bg.png");
}
.marquee{
	padding:120px 0;
	.brand {
		color: #fff;
		font-weight: 600;
	}
	h1 {
		color: #fff;
		font-weight: 600;
		font-size: 3rem;
		margin: 0;
	}
	.btn {
		margin-top: 20px;
		padding: 15px 30px;
		color: #444;
		text-transform: uppercase;
		font-weight: 600;
		border:none;
		box-shadow:0px 3px 0px 0px #ccc;
	}
	.btn-default {
		background:#fff;
	}
	.btn:hover {
		background:#eee;
	}
	img {
		margin-top: 20px;
	}
}
.intro {
	padding:40px 0;
	h2 {
		font-weight: 600;
	}
	h3 {
		font-weight: 100;
	}
	hr {
		margin-top:40px;
	}
	.options {
		margin-top:25px;
		img:hover {
			background:#ccc;
			opacity:0.7;
			cursor: pointer;
		}
	}
	.service {
		margin-top: 30px;
	}
	.back {
		padding:35px 0;
		margin-top:-10px;
		background:#f5f5f5;
		h5{
			margin-top: 20px;
		}
		.btn {
			margin-top:20px;
			color: #333;
			border:none;
			padding:6px 10px;
			text-transform: uppercase;
			font-size: 12px;
			box-shadow:0px 2px 0px 0px #ccc;
		}
		.btn-default {
			background:#fff;
		}
		.btn:hover {
			background:#bbb;
		}
	}
	.more {
		padding-top:60px;
	}
	.btn-primary {
		background:#b84d45;
		border:none;
		text-transform: uppercase;
		margin-top: 35px;
		font-weight: 600;
		padding:15px 30px;
		box-shadow:0px 2px 0px 0px #a5453e;
	}
	.btn-primary:hover {
		background:#a5453e;
	}
}
.bottom {
	padding: 40px 0;
	.input-group {
		margin-top: 30px;

	}
	input {
		padding:25px;
		box-shadow:0px 2px 0px 0px #ccc;
	}
	.input-group-addon {
		box-shadow:0px 2px 0px 0px #ccc;
		font-weight: 600;
	}
	.input-group-addon:hover {
		cursor: pointer;
		background:#ddd;
	}
	h2, h4 {
		color: #fff;
		font-weight: 600;
	}
}
footer {
	padding:40px 0;
	i {
		border-radius: 100%;
		color: #fff;
		margin: 10px;
		&:hover {
			opacity:0.9;
			cursor: pointer;
		}
	}
	.fa {
		font-size: 18px;
	}
	.fa-github {
		background: #333;
		padding:18px 20px;
	}
	.fa-twitter {
		background:#1da1f2;
		padding:18px 18px;
	}
	.fa-facebook {
		background:#3b5998;
		padding:18px 22px;
	}
	.fa-google-plus {
		background:#dd4b39;
		padding:18px 15px;
	}
	p {
		padding: 40px 0;
		a {
			color: #b84d45;
			&:hover {
				color: #a5453e;
			}
		}
	}
}
.modal-dialog {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	width:100%;
	min-height:100%;
}
.modal-content {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    box-shadow: none;
    border-radius: 0;
    background-clip: border-box;
    border: none;
}
.modal-body {
	.close-modal {
	position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover {
    		background:#eee;
    		opacity: 0.9;
    	}
	}
	.lr {
		height:75px;
		width: 1px;
		margin-left: 35px;
		background:#b84d45;
		transform: rotate(45deg);
	}
	.rl {
		height:75px;
		width: 1px;
		background:#b84d45;
		transform: rotate(90deg);
	}
	form {
		margin-top: 100px;
	}
	input {
		border:none;
		font-size: 40px;
		font-weight: 100;
		box-shadow: 0 2px 0 0 #eee;
		padding:30px 12px;
		&:focus {
			box-shadow: 0 2px 0 0 #eee;
		}
	}
	.input-group-btn .btn {
		border:none;
		background:none;
		font-size: 40px;
		font-weight: 100;
		&:hover {
			color: #333;
		}
	}
}
@media (min-width:320px) {
	.brand {
		font-size: 6rem;
		line-height: 6rem;
	}
	.marquee {
		h1 {
			font-size: 2rem;
			margin: 8px 0;
		}
	}
}
@media (min-width:768px) {
	.brand {
		font-size: 9rem;
		line-height: 10rem;
	}
	.marquee {
		h1 {
			font-size: 3rem;
		}
	}
}
